@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*-----Menu superior----*/

.menuSuperior {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFA800;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #E49700;
}

.icones {
    display: flex;
    gap: 20px;
}

.menuSuperior .icones a img {
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.menuSuperior img:hover {
    transform: scale(1.1);
}

.logoMenu {
    width: 150px;
    margin-left: 90px;
    transition: all 0.2s ease-out;
}

.usuarioImg {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.icones a:nth-child(4) img {
    margin-right: 50px;
}

.tituloPagina {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background: #E5E5E5;
}

.tituloPagina h1 {
    color: #8B8B8B;
    margin-left: 90px;
}

.config {
    position: relative;
}

.deslogar {
    position: absolute;
    top: 80px;
    right: 25px;
    background: #FFA800;
    border: 1px solid #E49700;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    z-index: 20;
}

/*-----Menu lateral----*/

.menuLateral {
    border-right: 1px solid #E49700;
    display: flex;
    z-index: 50;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    width: 60px;
    background: #FFA800;
    min-height: 100vh;
    gap: 20px;
}

.menuLateral img {
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.menuLateral img:hover {
    transform: scale(1.2);
}

.menuLateral a:nth-child(1) {
    margin-top: 120px;
}

/* -------------------------- Usuário ------------------------ */

#conteudoUser {
    margin-left: 10%;
    width: 100vh;
    margin-top: 40px;
}

.infosUsuario {
    display: flex;
    align-items: center;
    gap: 30px;
}

.fotoUsuario {
    border-radius: 10px;
    width: 255px;
    height: 255px;
    object-fit: fill;
}

.textosUsuario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
}

.idUsuario {
    color: #4a5568;
}

.numProdutosUsuario {
    padding: 15px;
    background: #D9D9D9;
    font-size: 22px;
    border-radius: 5px;
    color: #4a5568;
}

.formUsuario {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
}

.formUsuario input {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    background: #D9D9D9;
    font-weight: bold;
    color: #4a5568;
}

/* -------------------------- Produtos ------------------------ */

#conteudoProdutos {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 95vw;
    padding-left: 5vw;
}

.btnPesquisa {
    background: #F3F3F3;
    font-weight: bold;
    font-size: 15px;
    padding-left: 8px;
    border-radius: 8px;
    border: 2px solid #CFCFCF;
    outline-color: #FFA800;
    width: 250px;
    height: 40px;
}

.botoesProdutos {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    border-radius: 8px;
}

.btnCriar {
    background: #E5E5E5;
    cursor: pointer;
    font-weight: bold;
    padding: 0px 12px;
    color: #FFA800;
    font-size: 20px;
    border-radius: 8px;
    height: 40px;
}

.numProdutos {
    font-size: 18px;
    margin-left: 5%;
    color: #cbcbcb;
}

.numEntregas {
    color: #737373;
    font-size: 20px;
    padding-bottom: 8px;
    float: left;
}

/* --------- Tabelas --------- */

.tabelaProdutos {
    margin: auto;
    border-collapse: collapse;
    width: 100%;
}

.tabelaDiv {
    margin-left: 5%;
    margin-top: 60px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
}

.tabelaProdutos tbody {
    max-height: 300px;
}

.topoTabela {
    background: #FFA800;
    text-align: start;
    color: white;
    height: 54px;
}

.topoTabela td {
    font-weight: bold;
    padding: 10px;
}

.tabelaProdutos tr:nth-child(even) {
    background-color: #E5E5E5;
}

.linhaTabela td {
    color: #737373;
    padding: 10px;
}

.icone {
    width: 50px;
    cursor: pointer;
}


/* --------- Modal --------- */

.modalAddProduto {
    border-radius: 10px;
    border: 2px solid #FFA800;
    padding: 20px;
    margin: auto;
    width: 70vw;
    height: 700px;
}

.conteudoModal {
    display: flex;
    flex-direction: column;
}

.topoModal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalAddProduto .tituloModal {
    font-weight: bold;
    font-size: 22px;
    color: #FFA800;
}

.btnSairModal {
    font-weight: bold;
    cursor: pointer;
    font-size: 30px;
    background: none;
}

.inputModal {
    background: #F3F3F3;
    font-weight: bold;
    font-size: 18px;
    padding-left: 8px;
    border-radius: 8px;
    border: 2px solid #CFCFCF;
    outline-color: #FFA800;
    height: 50px;
    width: 55%;
}

.selectForm {
    background: #F3F3F3;
    font-weight: bold;
    font-size: 18px;
    padding-left: 8px;
    border-radius: 8px;
    border: 2px solid #CFCFCF;
    outline-color: #FFA800;
    height: 50px;
    width: 55%;
}

.inputEditar {
    margin-bottom: 20px;
    margin-bottom: 20px;
}

.formModal {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formModal form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.botoesForm {
    margin-top: 20px;
    justify-content: right;
    width: 55%;
    display: flex;
    gap: 15px;
}

.cancelarFormAddProduto {
    cursor: pointer;
    font-weight: bold;
    font-size: 22px;
    color: #737373;
    background: none;
}

.textoModal {
    font-weight: bold;
    font-size: 20px;
}

.botoesForm {
    margin-top: 80px;
}

.adicionarFormAddProduto {
    cursor: pointer;
    font-weight: bold;
    font-size: 22px;
    color: white;
    background: #FFA800;
    border-radius: 10px;
    padding: 0px 15px;
    height: 50px;
}

.btnConfirmar {
    cursor: pointer;
    font-weight: bold;
    font-size: 22px;
    color: white;
    background: #FFA800;
    border-radius: 10px;
    padding: 0px 15px;
    height: 50px;
}

.btnCancelar {
    cursor: pointer;
    font-weight: bold;
    font-size: 22px;
    color: #737373;
    background: none;
}

/*------- Entregas -------*/

.modalAddEntrega {
    border-radius: 10px;
    border: 2px solid #FFA800;
    padding: 20px;
    margin: auto;
    width: 70vw;
    height: 700px;
}

.tabelaEntrega .linhaTabela {
    cursor: pointer;
}

.tabelaEntrega .linhaTabela:hover {
    background: #c7c7c7;
}

.modalAddEntrega .tituloModal {
    font-weight: bold;
    font-size: 22px;
    color: #FFA800;
}

.avisoEstoque {
    color: #ff7070;
    float: right;
}

.emAndamento {
    background: #FFDD9C;
    color: black;
}

.cancelada {
    background: #FF9C9C;
    color: black;
}

.entregue {
    background: #AAFF9C;
    color: black;
}

.semEstoque {
    background: #ff7070;
}

.modalEditarEntrgea .formModal {
    flex-direction: column;
    margin-top: 50px;
    gap: 10px;
}

/*------- Toasts -------*/

.msgSucesso {
    position: absolute;
    top: 100px;
    right: 30px;
    width: 400px;
    border-radius: 8px;
    display: flex;
    background: green;
    color: white;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.msgErro {
    position: absolute;
    top: 100px;
    right: 30px;
    width: 400px;
    border-radius: 8px;
    display: flex;
    background: #ff3737;
    color: white;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.msgSucesso p, .msgErro p {
    font-size: 22px;
    font-weight: bold;
}

.toast {
    animation-name: example2;
    animation-duration: 0.8s;
}

@keyframes example2 {
    0%   {top: -10%;}
    100%  {top:100px;}
}
